#@layout()
#define main()
<form id="loginForm" class="form-signin" action="/login" method="post">
  <h2 class="form-signin-heading">请登录</h2>
  <label for="name" class="sr-only">账号：</label>
  <input type="text" id="name" class="form-control" name="name" placeholder="NAME" required autofocus>
  <span id="nameWaring" class="red"></span>
  <label for="password" class="sr-only">密码：</label>
  <input type="password" id="password" class="form-control" name="password" placeholder="Password" required>
  <span id="passwordWarning" class="red"></span>
  <div class="checkbox">
    <label>
      <input type="checkbox" value="remember-me"> 记住密码
    </label>
  </div>
  <button class="btn btn-lg btn-primary btn-block" type="button" id="login" onclick="loginSubmit()">登录</button>
</form>
<script>
  
  function loginSubmit(){
	  var username=$("input#name").val();
	  var password=$("input#password").val();
	  if(username==""){
		  $("#nameWarning").text("用户名不能为空！！")
		  $("input#name").focus();
		  return;
	  }
	  if(password==""){
		  $("#passwordWarning").text("密码不能为空！！！");
		  $("input#password").focus();
		  return;  
	  }
	  $("#loginForm").submit();
  }
  
</script>
#end