<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal"
		aria-hidden="true">×</button>
	<h4 class="modal-title" id="myModalLabel">编辑工具租赁信息</h4>
</div>
<div class="modal-body">
	</form>
	<form action="/factory/save" method="post" class="form-horizontal"
		role="form" id="form">
		<form class="form-horizontal">
		<div class="form-group">
			<label for="name_t" class="col-sm-2 control-label">工具名称</label>
			<div class="col-sm-10">
				<input type="text" class="form-control" id="name_t" name="rentTools.nameT" value="#(rentTools.nameT)">
			</div>
		</div>
		<div class="form-group" id="length" hidden>
			<label class="col-sm-2 control-label">工具类型</label>
			<div class="col-sm-3">
                            <select name="type_name" id="typename" class="form-control" name="rentTools.typId">
                                <option value="">#(rentTools.typT)</option>
                                #for(type:typelist)
                                <option value="#(type.sec_type_id)">#(type.sec_type_name)</option>
                                #end
                            </select>
                        </div>
		</div>
       <div class="form-group">
			<label for="type_t" class="col-sm-2 control-label">具体类型</label>
			<div class="col-sm-10">
				<input type="text" class="form-control" id="type_t" name="rentTools.typeT" value="#(rentTools.typeT)">
			</div>
		</div>
		<div class="form-group">
			<label for="contact" class="col-sm-2 control-label">持有人</label>
			<div class="col-sm-10">
				<input type="text" class="form-control" id="contact" name="rentTools.contact" value="#(rentTools.contact)">
			</div>
		</div>
		<div class="form-group">
			<label for="phone_t" class="col-sm-2 control-label">联系电话</label>
			<div class="col-sm-10">
				<input type="tel" class="form-control" id="phone_t" name="rentTools.phoneT" value="#(rentTools.phoneT)">
			</div>
		</div>
		<div class="form-group">
                        <label class="col-sm-2 control-label"><i>*</i>所在地址</label>
                        <div class="col-sm-3">
                            <select name="input_province" id="input_province" class="form-control" onchange="getcity(this)">
                                <option value="">#(list[0].province_name)</option>
                                #for(province:provincelist)
                                <option value="#(province.province_id)">#(province.province_name)</option>
                                #end
                            </select>
                        </div>
                        <div class="col-sm-3">
                            <select name="input_city" id="input_city" class="form-control" onchange="getarea(this)">
                                <option value="">#(list[0].city_name)</option>
                            </select>
                        </div>
                        <div class="col-sm-3">
                            <select name="rentTools.addressTid" id="input_area" class="form-control">
                                <option value="">#(list[0].district_name)</option>
                            </select>
                        </div>
                    </div>
              <div class="form-group">
			<label for="phone_t" class="col-sm-2 control-label">详细地址</label>
			<div class="col-sm-10">
				<input type="text" class="form-control" id="palce" name="rentTools.palce" value="#(rentTools.palce)">
			</div>
		</div>
		      
		<input type="hidden" id="serviceId" name="rentFactory.pid"
			value="#(rentTool.tid)" />
		<input type="hidden" id="state" name="rentFactory.state" value="0"/>
	</form>
</div>
<div class="modal-footer">
	<button type="button" class="btn btn-default" data-dismiss="modal">
		关闭</button>
	<button type="button" class="btn btn-primary"
		onclick="submitForm('form')">提交</button>
</div>


<script>

	function changeForever(status) {
		if (status == 1) {
			$("#forever").addClass("hidden");
		} else {
			$("#forever").removeClass("hidden");
		}
	}
	
	function changePointsFlag(status) {
		if (status == 0) {
			$("#PointsFlag").addClass("hidden");
		} else {
			$("#PointsFlag").removeClass("hidden");
		}
	}
	
	function getcity(e){
		var provinceId=$(e).val();
		var option="<option value='@cityid'>@cityname</option>";
	    var select=$(e).parent().next().children("#input_city");
	    select.empty();
	    select.append($("<option value=''>请选择</option>"));
	    $.post("/factory/getcity",{provinceId:provinceId},function(data){
	    	if(data){
	    		for(var i in data){
	    			var ele=option.replace("@cityid",data[i].city_id).replace("@cityname",data[i].city_name);
	    			select.append($(ele));
	    		}
	    	}
	    });
	}

	function getarea(e) {
		var cityId = $(e).val();
		var option = "<option value='@districtId'>@districtName</option>";
		var select = $(e).parent().next().children("#input_area");
		select.empty();
		select.append($("<option value=''>请选择</option>"));
		$.post("/factory/getarea",{cityId:cityId},function(data){
			if(data) {
				for(var i in data) {
					var ele = option.replace("@districtId",data[i].district_id).replace("@districtName",data[i].district_name);
					select.append($(ele));
				}
			}
		})
	}
</script>
