<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal"
		aria-hidden="true">×</button>
	<h4 class="modal-title" id="myModalLabel">编辑微信首页信息</h4>
</div>
<div class="modal-body">
 <form class="form-horizontal">
     <div class="form-group">
			<label for="file" class="col-sm-2 control-label">首页图片</label>
			<div class="col-sm-10">
				<div class="col-sm-12"><img src="#(announcement.announcement_img)" class="img-responsive" /></div>
			</div>
		</div>
 </form>
	<form action="/WxHead/save" method="post" class="form-horizontal"
		role="form" id="form">
		<form class="form-horizontal">
		<div class="form-group">
			<label for="file" class="col-sm-2 control-label">名称</label>
			<div class="col-sm-10">
				<input type="text" class="form-control" id="name_a" name="announcement.announcementTittle" value="#(announcement.announcement_tittle)" disabled>
			</div>
		</div>
		<div class="form-group" id="length">
			<label class="col-sm-2 control-label">URL地址</label>
			<div class="col-sm-10">
				<input type="text" class="form-control" id="url"
					name="announcement.announcementUrl" size="16" 
					placeholder="请输入url地址" value="#(announcement.announcement_url)" disabled>
			</div>
		</div>
      <div class="form-group">
			<label class="col-sm-2 control-label">是否启用</label>
			<div class="btn-group col-sm-10" id="points" data-toggle="buttons">
				<label class="btn btn-success #(announcement.announcement_on==true? 'active':'')" ><input #(announcement.announcement_on==true? 'checked':'') disabled
					checked type="radio" name="announcement.announcementOn" value="1">启用</label>
				<label class="btn btn-success #(announcement.announcement_on==false? 'active':'')" ><input type="radio" #(announcement.announcement_on==false? 'chekced':'') disabled
					name="announcement.announcementOn" value="0">不启用</label>
			</div>
		</div>
		<input type="hidden" id="newId" name="announcement.announcementId"
			value="#(newId)" />
		<input type="hidden" id="Image"
			name="announcement.announcementImg" value="" />
	</form>
</div>
<div class="modal-footer">
	<button type="button" class="btn btn-default" data-dismiss="modal">
		关闭</button>
</div>


<script>

$('#file').fileinput({
	allowedFileExtensions : [ 'jpg', 'png', 'gif' ],
	language : "zh",
	dropZoneEnabled : false,
	showCaption : false,
	autoReplace : true,
	showUpload : true, //是否显示上传按钮
	showRemove : true,//显示移除按钮
	uploadUrl : "/file/save",
})

$("#file").on("fileuploaded", function(event, data, previewId, index) {
	var result = data.response;
	var path = result.path;
	if (path) {
		$("#Image").val(path);
	}
});
</script>
