#@layout() 
#define main()
<div class="table-responsive">
	<table class="table table-striped">
		<thead>
		    <tr>
		        <th class="col-sm-9">角色名称</th>
		        
		        <th class="col-sm-3">操作
   			        <a href="javascript:void(0);" onclick="modalShow('/role/add')" class="btn btn-warning btn-xs" role="button">添加</a>
		        </th>
		    </tr>
	    </thead>
	    <tbody>
	    #for(role : page.list)
		    <tr id='#(role.id)'>
		       <td>#(role.name) </td>  
		       <td>
			        <a href="javascript:void(0);" onclick="modalShow('/role/update?id=#(role.id)')"  class="btn btn-success btn-xs" role="button">编辑</a>
			        <a href="javascript:void(0);" onclick="modalShow('/role/delete?id=#(role.id)')"  class="btn btn-danger btn-xs" role="button">删除</a>
			        <a href="javascript:void(0);" onclick="modalShow('/role/setRelation?id=#(role.id)')"  class="btn btn-info btn-xs" role="button">设置权限</div>
		        </td> 		        
		    </tr>
	    #end
    	</tbody>
    		#@paginate(page.pageNumber, page.totalPage, "/role")
	</table>
</div>
#end
