
<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal"
		aria-hidden="true">×</button>
	<h4 class="modal-title" id="myModalLabel">设置权限</h4>
</div>
<div class="modal-body">
	<form class="form-horizontal" role="form" id="form" action="/role/saveRelation" method="post">
		<div class="form-group">
			<label for="name" class="col-sm-2 control-label">选择导航</label>
			<div class="col-sm-8">
		          <div id="treeview-checkable" class=""></div>
	        </div>
			<input type="hidden" name="navigationIds" id="navigationIds" value="" />
			<input type="hidden" name="roleId" value="#(roleId)" />
	</form>
</div>
<div class="modal-footer">
	<button type="button" class="btn btn-default" data-dismiss="modal">
		关闭</button>
	<button type="button" class="btn btn-primary" onclick="submitForm('form')">提交</button>
</div>
<script>
$(function() {
	
	$.get('/tree/navigationTree',{roleId:'#(roleId)'},function(data){
		if(data) {
			$('#treeview-checkable').treeview({
			    data: data,
			    showIcon: false,
			    showCheckbox: true,
			    onNodeChecked: function(event, node) {
			      	var ids = $("#navigationIds").val();
			      	ids += (node.id + ",");
			      	$("#navigationIds").val(ids);
			    },
			    onNodeUnchecked: function (event, node) {
			    	var ids = $("#navigationIds").val();
			      	ids = ids.replace(node.id,"");
			      	$("#navigationIds").val(ids);
			    }
		  	});
		}
	})
	
	
})
  </script>