<script>
    $.fn.datetimepicker.defaults = {
        //默认语言
        language: 'zh-CN',
        //默认选择格式
        format: "yyyy-mm-dd hh:ii:ss",
        autoclose: true,
        todayBtn: true,
        //选择板所在输入框位置
        pickerPosition: "bottom-left"
    };
</script>

<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal"
		aria-hidden="true">×</button>
	<h4 class="modal-title" id="myModalLabel">商品基本信息</h4>
</div>
<div class="modal-body">
 <form action="" class="form-horizontal" role="form" id="form" >
  <div class="form-group">
   <label for="name" class="col-sm-2 control-label">商品名称</label>
   <div class="col-sm-10">
    <input type="text" class="form-control" id="goodsinfo_name" name="goodsinfo_name" required 
    placeholder="请输入名称">
   </div>
  </div>
  <div class="form-group">
  <label for="sec_type_id" class="col-sm-2 control-label">商品类型</label>
  <div class="col-sm-10">
    <select class="form-control" id="type_list" name="type_list">
    </select>
  </div>
  </div>
  <div class="form-group">
   <label class="col-sm-2 control-label">是否启用积分</label>
  <div class="btn-group col-sm-10" id="points" data-toggle="buttons">
    <label class="btn btn-success active"><input checked type="radio" name="" value="true">启用积分</label>
     <label class="btn btn-success"><input type="radio" name="" value="false">不启用积分</label>
   </div>
  </div>
  <div class="form-group">
   <label class="col-sm-2 control-label">商品积分</label>
   <div class="col-sm-10">
    <input type="number" class="form-control" id="goodsinfo_points" name="goodsinfo_points" size="16" required 
    placeholder="请输入积分">
   </div>
  </div>
  <div class="form-group">
  <label class="col-sm-2 control-label">商品价格</label>
  <div class="col-sm-10">
    <input type="number" class="form-control" id="goodsinfo_primary_price" name="goodsinfo_primary_price" size="16" required 
    placeholder="请输入商品价格">
   </div>
  </div>
  <div class="form-group">
   <label for="desc" class="col-sm-2 control-label">商品简短描述</label>
   <div class="col-sm-10">
    <input type="text" class="form-control" id="goodsinfo_desc" name="goodsinfo_desc" required 
    placeholder="请输入简短描述">
   </div>
  </div>
  <div class="form-group">
   <label class="col-sm-2 control-label">是否为永久商品</label>
  <div class="btn-group col-sm-10" id="points" data-toggle="buttons">
    <label class="btn btn-success active"><input checked type="radio" name="" value="true">是</label>
     <label class="btn btn-success"><input type="radio" name="" value="false">否</label>
   </div>
  </div>
  <div class="form-group">
   <label class="col-sm-2 control-label">有效日期</label>
  <div class="col-sm-10 input-append date form_datetime" >
    <input size="16" type="text" value="" id="startTime" readonly>
   </div>
  </div>
  <div class="form-group">
   <label class="col-sm-2 control-label">商品详细描述</label>
  <div class="col-sm-10" >
   <textarea class="form-control" rows="3"></textarea> 
   </div>
  </div>
 </form>
</div>
<div class="modal-footer">
	<button type="button" class="btn btn-default" data-dismiss="modal">
		关闭</button>
<button type="button" class="btn btn-primary">提交</button> 
</div>


<script>
    $(function () {

        var picker1 = $('#startTime').datetimepicker();
        var picker2 = $("#endTime").datetimepicker();

        //动态设置最小值(选择前面一个日期后：后面一个日期不能小于前面一个)
        picker1.on('changeDate', function (e) {
            picker2.datetimepicker('setStartDate', e.date);
        });
        //动态设置最大值(选择后面一个日期后：前面一个日期不能大于前面一个）
        picker2.on('changeDate', function (e) {
            picker1.datetimepicker('setEndDate', e.date);
        });

    });
        
    //商品类型
    $(function(){
    	$.ajax({
    		type:"POST",
    	    contentType:"application/json;charset=utf-8",//内容类型
    	    dataType:"json",
    	    url:"/goods_info/getTypeList",
    	    data:null,
    	    success:function(data){
    	    	for(var i=0;i<data.length;i++){
    	    		$("#select_list").append("<option"+ "value=" +data[i].tid+">"+data[i].typename+"</option>");
    	    	}
    	    },
    	    error:function(err){
    	    	alert("err:"+err);
    	    }
    	});
    });

</script>   