<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal"
		aria-hidden="true">×</button>
	<h4 class="modal-title" id="myModalLabel">商品基本信息</h4>
</div>
<div class="modal-body">
	<form class="form-horizontal">
		<div class="form-group">
			<label for="file" class="col-sm-2 control-label">商品图片</label>
			<div class="col-sm-10">
				<input type="file" class="form-control" id="file" name="file">
			</div>
		</div>
	</form>
	<form action="/goods_info/save" method="post" class="form-horizontal"
		role="form" id="form">
		<div class="form-group">
			<label for="name" class="col-sm-2 control-label">商品名称</label>
			<div class="col-sm-10">
				<input type="text" class="form-control" id="goodsinfo_name"
					name="goodsinfo.goodsinfoName" required placeholder="请输入名称">
			</div>
		</div>

		<div class="form-group">
			<label for="sec_type_id" class="col-sm-2 control-label">商品类型</label>
			<div class="col-sm-10">
				<select class="form-control" id="type_list"
					name="goodsinfo.secTypeId">
					<option name="goodsinfo.secTypeId" value="">请选择</option>
					 #for(typelist:typelist)
					<option name="goodsinfo.secTypeId" value="#(typelist.sec_type_id)">#(typelist.sec_type_name)</option>
					#end
				</select>
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label">是否启用积分</label>
			<div class="btn-group col-sm-10" id="points" data-toggle="buttons">
				<label class="btn btn-success active" onclick="changePointsFlag(1)"><input checked
					type="radio" name="goodsinfo.goodsinfoPointsFlag" value="1">启用积分</label>
				<label class="btn btn-success" onclick="changePointsFlag(0)"><input type="radio"
					name="goodsinfo.goodsinfoPointsFlag" value="0">不启用积分</label>
			</div>
		</div>
		<div class="form-group" id="PointsFlag">
			<label class="col-sm-2 control-label">商品积分</label>
			<div class="col-sm-10">
				<input type="number" class="form-control" id="goodsinfo_points"
					name="goodsinfo.goodsinfoPoints" size="16" 
					placeholder="请输入积分">
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label">商品价格</label>
			<div class="col-sm-10">
				<input type="number" class="form-control"
					id="goodsinfo_primary_price" name="goodsinfo.goodsinfoPrimaryPrice"
					size="16" required placeholder="请输入商品价格">
			</div>
		</div>
		<div class="form-group">
			<label for="desc" class="col-sm-2 control-label">商品简短描述</label>
			<div class="col-sm-10">
				<input type="text" class="form-control" id="goodsinfo_desc"
					name="goodsinfo.goodsinfoDesc" required placeholder="请输入简短描述">
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label">是否为永久商品</label>
			<div class="btn-group col-sm-10" id="isforever" data-toggle="buttons">
				<label class="btn btn-success active" onclick="changeForever(1)"><input
					checked type="radio" name="goodsinfo.goodsinfoFoever" value="1">是</label>
				<label class="btn btn-success" onclick="changeForever(0)"><input
					type="radio" name="goodsinfo.goodsinfoFoever" value="0">否</label>
			</div>
		</div>
		<div class="form-group hidden" id="forever">
			<label class="col-sm-2 control-label">有效日期</label>
			<div class="col-sm-10 input-append date form_datetime">
				<input name="goodsinfo.goodsinfoExpiration" size="16" type="text"
					value="" id="startTime" class="datetimepicker" readonly>
			</div>
		</div>
		<input type="hidden" id="goodsinfoId" name="goodsinfo.goodsinfoId"
			value="#(newId)" />
		<input type="hidden" id="goodsinfoImage"
			name="goodsinfo.goodsinfoImage" value="" />
		<input type="hidden" id="goodsinfoIsTaocan"
			name="goodsinfo.goodsinfoIstaocan" value="0" />
	</form>
</div>
<div class="modal-footer">
	<button type="button" class="btn btn-default" data-dismiss="modal">
		关闭</button>
	<button type="button" class="btn btn-primary"
		onclick="submitForm('form')">提交</button>
</div>


<script>
	$('#file').fileinput({
		allowedFileExtensions : [ 'jpg', 'png', 'gif' ],
		language : "zh",
		dropZoneEnabled : false,
		showCaption : false,
		autoReplace : true,
		showUpload : true, //是否显示上传按钮
		showRemove : true,//显示移除按钮
		uploadUrl : "/file/save",
	})

	$("#file").on("fileuploaded", function(event, data, previewId, index) {
		var result = data.response;
		var path = result.path;
		if (path) {
			$("#goodsinfoImage").val(path);
		}
	});

	function changeForever(status) {
		if (status == 1) {
			$("#forever").addClass("hidden");
		} else {
			$("#forever").removeClass("hidden");
		}
	}
	
	function changePointsFlag(status) {
		if (status == 0) {
			$("#PointsFlag").addClass("hidden");
		} else {
			$("#PointsFlag").removeClass("hidden");
		}
	}
	
	$('.datetimepicker').datetimepicker({
	    format: 'yyyy-mm-dd hh:ii:ss',
	    autoclose: true,
	    minView: 0,
	    minuteStep:1
	});
</script>
