#@layout()
#define main()
<div class="table-responsive">
 <table class="table table-striped">
  <thead>
    <tr>
    <th class="col-sm-1">商品名称</th>
    <th class="col-sm-1">商品价格</th>
    <th class="col-sm-1">是否启用积分</th>
    <th class="col-sm-1">商品积分</th>
    <th class="col-sm-1">商品简短描述</th>
    <th class="col-sm-1">商品详细描述</th>
   <th class="col-sm-1">操作 </th>
    </tr>
  </thead>
  <tbody>
   <tr id=''>
   <th></th>
   <th></th>
   <th></th>
   <th></th>
   <th></th>
   <th></th>
   <th></th> 
   </tr>
  </tbody>
 </table>
</div>
#end