#@layout() 
#define main()

<div class="table-responsive">
	<table class="table table-striped">
		<thead>
		    <tr>
		        <th class="col-sm-3">类型名称</th>
		        <th class="col-sm-3">操作 <a href="javascript:void(0);" onclick="modalShow('/goods_type/add?id=null')" class="btn btn-warning btn-xs" role="button">添加</a></th>
		    </tr>
	    </thead>
	    <tbody>
	    #for(type : page.list)
		    <tr id='#(type.first_type_id)'>
		        <td><i class="icon-chevron-right" style="color:blue;cursor:pointer;" onclick="showSub('#(type.firstTypeId)',this);"></i>&nbsp;&nbsp; #(type.first_type_name)</td>
		        <td>
			        <a href="javascript:void(0);" onclick="modalShow('/goods_type/update?firstid=#(type.firstTypeId)')"  class="btn btn-success btn-xs" role="button">编辑</a>
			        <a href="javascript:void(0);" onclick="modalShow('/goods_type/add?firstid=#(type.firstTypeId)')" class="btn btn-warning btn-xs" role="button">添加</a>
			        <a href="javascript:void(0);" onclick="remove('/goods_type/delete?firstid=#(type.firstTypeId)')"  class="btn btn-danger btn-xs" role="button">删除</a>
		        </td>
		    </tr>
	    #end
    	</tbody>
    		#@paginate(page.pageNumber, page.totalPage, "/goods_type")
	</table>
</div>
<script>
	function showSub(id,e) {
		var ele = '<tr class=' + id + '>'+
				        '<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;@name</td>'+
				        '<td>'+
					        '<a href="javascript:void(0);" onclick="modalShow(\'/goods_type/update?secid=@id\')" class="btn btn-success btn-xs" role="button">编辑</a>'+
					        '<a href="javascript:void(0);" onclick="remove(\'/goods_type/delete?secid=@id\')" class="btn btn-danger btn-xs" role="button">删除</a>'+
				        '</td>'+
				    '</tr>';
		$.post('/goods_type/showSub',{id:id},function(result){
			if(result) {
				console.log(result)
				for(var i in result) {

					var element = ele.replace("@name",result[i].sec_type_name).replace("@id",result[i].sec_type_id);
					$("#"+id).after($(element));
				}
				$(e).removeClass("icon-chevron-right").addClass("icon-chevron-down");
				$(e).attr("onclick","hideSub(\'" + id + "\',this)");
			}
		})
	}
	
	function hideSub(id,e) {
		$("."+id).remove();
		$(e).addClass("icon-chevron-right").removeClass("icon-chevron-down");
		$(e).attr("onclick","showSub(\'" + id + "\',this)");
	}
</script>
#end
