#@layout() #define main()
<div class="table-responsive">
	<table class="table table-striped">
		<thead>
			<tr>
				<th class="col-sm-1">名称</th>
				<th class="col-sm-1">用户名</th>
				<th class="col-sm-1">E-mail</th>
				<th class="col-sm-2">最后登录时间</th>
				<th class="col-sm-1">最后登录IP</th>
				<th class="col-sm-2">操作 <ahref="javascript:void(0);" onclick="modalShow('/manager/add')"class="btn btn-warning btn-xs" role="button">添加</th>
			</tr>
		</thead>
		<tbody>
			#for(manager : page.list)
			<tr id='#(manager.id)'>
				<td>#(manager.name)</td>
				<td>#(manager.username)</td>
				<td>#(manager.email)</td>
				<td>#(manager.loginDate)</td>
				<td>#(manager.loginIp)</td>

				<td><a href="javascript:void(0);"
					onclick="modalShow('/manager/update?id=#(manager.id)')"
					class="btn btn-success btn-xs" role="button">编辑</a> <a
					href="javascript:void(0);"
					onclick="modalShow('/manager/delete?id=#(manager.id)')"
					class="btn btn-danger btn-xs" role="button">删除</a>
						</div> <a href="javascript:void(0);"
						onclick="modalShow('/manager/setRole?id=#(manager.id)')"
						class="btn btn-info btn-xs" role="button">设置角色
							</div></td>
			</tr>
			#end
		</tbody>
	</table>
</div>
#end
