#@layout()
 #define main()
<ul class="nav nav-tabs">
	<li class="active"><a href="/goods_order?order_pay_status=0">待支付</a></li> 
    <li><a href="/goods_order?order_pay_status=1">待处理</a></li>
     <li><a href="/goods_order?order_status=3">已完成</a></li> 
     <li><a href="/goods_order">全部</a></li>
 </ul>
 <div class="table-responsive">
 <table class="table table-striped">
 <thead>
   <tr>
   <th class="col-sm-0">订单类型</th>
   <th class="col-sm-0">创建时间</th>
   <th class="col-sm-0">用户姓名</th>
   <th class="col-sm-0">支付类型</th>
   <th class="col-sm-0">支付金额</th>
   <th class="col-sm-0">是否派单</th>
   <th class="col-sm-0">删除</th>
   <th class="col-sm-0">状态</th>
   <th class="col-sm-0">操作</th>
   </tr>
 </thead>
 <tbody>	
	#for(goodorder:goodorderlist)
    <tr>
    <th class="col-sm-1">#(goodorder.sec_type_name)</th>
    <th class="col-sm-1">#(goodorder.order_createtime)</th>
    <th class="col-sm-1">#(goodorder.user_nickname)</th>
    <th class="col-sm-1">#(goodorder.order_payType)</th>
    <th class="col-sm-1">#(goodorder.order_price)</th>
    <th class="col-sm-1">#(goodorder.order_isforward)</th>
    <th class="col-sm-1">#(goodorder.order_isdelete)</th>
    <th class="col-sm-1">#(goodorder.order_status)</th>
    <th class="col-sm-1"> 
    <a href="javascript:void(0);" onclick="modalShow('/goods_order/forward?id=#(goodorder.order_id)')" class="btn btn-danger btn-xs" role="button">确认发货</a>
    <a href="javascript:void(0);" onclick="modalShow('/goods_order/orderdetail?id=#(goodorder.order_id)')"  class="btn btn-danger btn-xs" role="button">订单详情</a>
    <a href="javascript:void(0);" onclick="modalShow('/goods_order/paidandetail?id=#(goodorder.order_id)')"  class="btn btn-danger btn-xs" role="button">派单详情</a>
    </th>
    </tr>
	#end			
  </tbody>
 </table>
 </div>
 #end
 <script>
window.onload=initPage();
function initPage(){
	
}
 function confirm(){
	alert("发货成功");
}
 </script>