<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal"
		aria-hidden="true">×</button>
	<h4 class="modal-title" id="myModalLabel">套餐信息</h4>
</div>
<div class="modal-body">
	<form class="form-horizontal">
		<div class="form-group">
			<label for="file" class="col-sm-2 control-label">套餐图片</label>
			<div class="col-sm-10">
				<input type="file" class="form-control" id="file" name="file">
			</div>
		</div>
	</form>
	<form action="/taocan/save" method="post" class="form-horizontal"
		role="form" id="form">
		<div class="form-group">
			<label for="name" class="col-sm-2 control-label">套餐名称</label>
			<div class="col-sm-10">
				<input type="text" class="form-control" id="goodsinfo_name"
					name="goodsinfo.goodsinfoName" required placeholder="请输入名称">
			</div>
		</div>
		<input type="hidden" value="0" name="goodsinfo.secTypeId">
		<!-- 选择商品 start-->
		<div class="form-group" id="parentrow">
			<label for="goodsinform" class="col-sm-2 control-label">添加商品</label>
			<div class="col-sm-10 tab-content" id="myTabContent">
				<div>
					<table class="table table-striped table-hover" id="reportTable">
						<tr>
							<td>商品类型</td>
							<td>商品名称</td>
							<td>商品数量</td>
							<td><button type='button' onclick='addone(this)' class='btn btn-xs btn-success'>增加</button></td>
						</tr>
						<tr>
							<td>
								<select onchange='getgoods(this)' style='width: 100%;height=20px'>
									<option value=''>请选择</option>
									#for(typelist:typelist)
									<option value='#(typelist.sec_type_id)'>#(typelist.sec_type_name)</option>
									#end
								</select>
							</td>
							<td>
								<select class='goods' style='width: 100%; height: 20px'></select>
							</td>
							<td>
								<input value='1' class='count' type='number' style='width: 50%; height: 20px' />
								
							</td>
							<td><button type='button' onclick='deletetr(this)' class='btn btn-xs btn-danger'>删除</button></td>
						</tr>
					</table>
				</div>
			</div>
		</div>
		<!-- 选择商品end -->
		<div class="form-group">
			<label class="col-sm-2 control-label">是否启用积分</label>
			<div class="btn-group col-sm-10" id="points" data-toggle="buttons">
				<label class="btn btn-success active" onclick="changePointsFlag(1)"><input
					checked type="radio" name="goodsinfo.goodsinfoPointsFlag" value="1">启用积分</label>
				<label class="btn btn-success" onclick="changePointsFlag(0)"><input
					type="radio" name="goodsinfo.goodsinfoPointsFlag" value="0">不启用积分</label>
			</div>
		</div>
		<div class="form-group" id="PointsFlag">
			<label class="col-sm-2 control-label">套餐积分</label>
			<div class="col-sm-10">
				<input type="number" class="form-control" id="goodsinfo_points"
					name="goodsinfo.goodsinfoPoints" size="16" placeholder="请输入积分">
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label">套餐价格</label>
			<div class="col-sm-10">
				<input type="number" class="form-control"
					id="goodsinfo_primary_price" name="goodsinfo.goodsinfoPrimaryPrice"
					size="16" required placeholder="请输入商品价格">
			</div>
		</div>
		<div class="form-group">
			<label for="desc" class="col-sm-2 control-label">套餐简短描述</label>
			<div class="col-sm-10">
				<input type="text" class="form-control" id="goodsinfo_desc"
					name="goodsinfo.goodsinfoDesc" required placeholder="请输入简短描述">
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label">是否为永久套餐</label>
			<div class="btn-group col-sm-10" id="isforever" data-toggle="buttons">
				<label class="btn btn-success active" onclick="changeForever(1)"><input
					checked type="radio" name="goodsinfo.goodsinfoFoever" value="1">是</label>
				<label class="btn btn-success" onclick="changeForever(0)"><input
					type="radio" name="goodsinfo.goodsinfoFoever" value="0">否</label>
			</div>
		</div>
		<div class="form-group hidden" id="forever">
			<label class="col-sm-2 control-label">有效日期</label>
			<div class="col-sm-10 input-append date form_datetime">
				<input name="goodsinfo.goodsinfoExpiration" size="16" type="text"
					value="" id="startTime" class=".datetimepicker" readonly>
			</div>
		</div>
		<input type="hidden" id="goodsinfoId" name="goodsinfo.goodsinfoId"
			value="#(newId)" /> <input type="hidden" id="goodsinfoImage"
			name="goodsinfo.goodsinfoImage" value="" /> <input type="hidden"
			id="goodsinfoIsTaocan" name="goodsinfo.goodsinfoIstaocan" value="1" />
			<input id="goodsDetail" type="hidden" name="goodsDetail" value />
	</form>
</div>
<div class="modal-footer">
	<button type="button" class="btn btn-default" data-dismiss="modal">
		关闭</button>
	<button type="button" class="btn btn-primary"
		onclick="submitTaocan('form')">提交</button>
</div>


<script>
	$('#file').fileinput({
		allowedFileExtensions : [ 'jpg', 'png', 'gif' ],
		language : "zh",
		dropZoneEnabled : false,
		showCaption : false,
		autoReplace : true,
		showUpload : true, //是否显示上传按钮
		showRemove : true,//显示移除按钮
		uploadUrl : "/file/save",
	});

	$("#file").on("fileuploaded", function(event, data, previewId, index) {
		var result = data.response;
		var path = result.path;
		if (path) {
			$("#goodsinfoImage").val(path);
		}
	});

	function changeForever(status) {
		if (status == 1) {
			$("#forever").addClass("hidden");
		} else {
			$("#forever").removeClass("hidden");
		}
	}

	function changePointsFlag(status) {
		if (status == 0) {
			$("#PointsFlag").addClass("hidden");
		} else {
			$("#PointsFlag").removeClass("hidden");
		}
	}

	function addone(e) {
		var table = $("#reportTable");
		var tr = $("<tr><td>"+
				"	<select onchange='getgoods(this)' style='width: 100%;height=20px'>"+
				"		<option value=''>请选择</option>"+
						#for(typelist:typelist)
				"		<option value='#(typelist.sec_type_id)'>#(typelist.sec_type_name)</option>"+
						#end
				"	</select>"+
				"</td>"+
				"<td>"+
				"	<select class='goods' style='width: 100%; height: 20px'></select>"+
				"</td>"+
				"<td>"+
				"	<input class='count' value='1' type='number' style='width: 50%; height: 20px' />"+
				"</td><td><button type='button' onclick='deletetr(this)' class='btn btn-xs btn-danger'>删除</button></td></tr>");
		table.append(tr);
	}

	function deletetr(tdobject) {
		var td = $(tdobject);
		td.parents("tr").remove();
	}

	function getgoods(e) {
		var typeId = $(e).val();
		var option = "<option value='@goodsinfoId'>@goodsinfoName</option>";
		var select = $(e).parent().next().children(".goods");
		select.empty();
		select.append($("<option value=''>请选择</option>"));
		$.post("/taocan/getGoods",{typeId:typeId},function(data){
			if(data) {
				for(var i in data) {
					var ele = option.replace("@goodsinfoId",data[i].shop_id).replace("@goodsinfoName",data[i].goodsinfo_name);
					select.append($(ele));
				}
			}
		})
	}
	
	$('.datetimepicker').datetimepicker({
	    format: 'yyyy-mm-dd hh:ii:ss',
	    autoclose: true,
	    minView: 0,
	    minuteStep:1
	});
	
</script>
