#@layout()
#define main()
<div class="table-responsive">
 <table class="table table-striped">
  <thead>
    <tr>
    <th class="col-sm-1">套餐名称</th>
    <th class="col-sm-1">套餐价格</th>
    <th class="col-sm-1">是否启用积分</th>
    <th class="col-sm-1">套餐积分</th>
    <th class="col-sm-1">套餐简短描述</th>
   <th class="col-sm-1">操作   <a href="javascript:void(0);" onclick="modalShow('/taocan/add')" class="btn btn-warning btn-xs" role="button">添加</a>
    </th>
    </tr>
  </thead>
  <tbody>
   #for(goodsinfo:page.list)
   <tr id='#(goodsinfo.id)'>
   <td>#(goodsinfo.goodsinfo_name)</td>
   <td>#(goodsinfo.goodsinfo_primary_price)</td>
   <td>#(goodsinfo.goodsinfo_points_flag ? '启用' : '不启用')</td>
   <td>#(goodsinfo.goodsinfo_points)</td>
   <td>#(goodsinfo.goodsinfo_desc)</td>
   <td>
   <a href="/taocan/update?id=#(goodsinfo.goodsinfoId)"  class="btn btn-success btn-xs" role="button">编辑</a>
   <a href="javascript:void(0);" onclick="remove('/taocan/delete?id=#(goodsinfo.goodsinfoId)')"  class="btn btn-danger btn-xs" role="button">删除</a>
  </td>
  </tr>
  #end
  </tbody>
 </table>
   #@paginate(page.pageNumber, page.totalPage, "/taocan/")
</div>
#end