.float-botton {
	position: fixed;
    z-index: 999;
    right: 5%;
    top: 30%;
}

.float-btn-group {
	padding-left:0px;
}

.float-dialog {
    padding-left: 0px;
    padding-right: 0px;
	
}