
<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal"
		aria-hidden="true">×</button>
	<h4 class="modal-title" id="myModalLabel">商品上架</h4>
</div>
<div class="modal-body">
	<form class="form-horizontal" role="form" id="form" action="/shop/save" method="post">
		<div class="form-group">
			<label for="name" class="col-sm-2 control-label">商品名称</label>
			<div class="col-sm-10">
				<select class="form-control" id="goodslist"
					name="goodslist">
					<option name="goodsinfo.secTypeId" value="">请选择</option>
					 #for(good:goodslist)
					<option name="goodsname" value="">#(good.goodsinfo_name)</option>
					#end
				</select>
			</div>
	</form>
</div>
<div class="modal-footer">
	<button type="button" class="btn btn-default" data-dismiss="modal">
		关闭</button>
	<button type="button" class="btn btn-primary" onclick="submitForm('form')">提交</button>
</div>
