
<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal"
		aria-hidden="true">×</button>
	<h4 class="modal-title" id="myModalLabel">商品上架</h4>
</div>
<div class="modal-body">
	<form class="form-horizontal" role="form" id="form" action="/shop/save" method="post">
     <input type="hidden" name="shopid" value="#(newId)" />
		<div class="form-group">
			<label for="name" class="col-sm-2 control-label">商品名称</label>
			<div class="col-sm-10 tab-content" id="myTabContent">
				<div>
					<table class="table table-striped table-hover" id="reportTable">
						<tr>
							<td>商品类型<select onchange='getgoods(this)' style='width: 50%;height=20px;float:right'>
									<option value=''>请选择</option>
									#for(typelist:typelist)
									<option value='#(typelist.sec_type_id)'>#(typelist.sec_type_name)</option>
									#end
								</select></td>
							<td>商品名称<select class='goods' style='width:50%;height:20px;float:right' name="goodsname" onchange="getPrePrice(this)"></select></td>
						</tr>
					</table>
				</div>
			</div>
			</div>
			<div class="form-group">
			 <label for="shoplot" class="col-sm-2 control-label">商品原价</label>
			 <div class="col-sm-10">
			 <input type="number" class="form-control" id="prePrice" name="prePrice" 
					readonly>
			 </div>
			</div>
			<div class="form-group">
			 <label for="shoplot" class="col-sm-2 control-label">商品批次</label>
			 <div class="col-sm-10">
			 <input type="number" class="form-control" id="shoplot" name="shoplot" required
					placeholder="请输入批次">
			 </div>
			</div>
			<div class="form-group">
			<label for="endtime" class="col-sm-2 control-label">截至时间</label>
			<div class="col-sm-10">
		    <input type="datetime" value="" name="start_time" id="start_time_picker" class="datetimepicker" readonly>
			</div> 
			</div>
			<div class="form-group">
			 <label for="number" class="col-sm-2 control-label">库存总量</label>
			 <div class="col-sm-10">
			  <input type="number" class="form-control" id="number"
					name="number" size="16" 
					placeholder="请输入库存量">
			 </div>
			</div>
		<div class="form-group">
			 <label for="shopon" class="col-sm-2 control-label">是否在售</label>
			 <div class="col-sm-10" data-toggle="buttons">
			 <label class="btn btn-success active" onclick="changeForever(1)"><input
					checked type="radio" name="shopon" value="1">是</label>
				<label class="btn btn-success" onclick="changeForever(0)"><input
					type="radio" name="shopon" value="0">否</label>
			 </div>
			</div>
			<div class="form-group">
			 <label for="shopprice" class="col-sm-2 control-label">是否为套餐</label>
			 <div class="col-sm-10" data-toggle="buttons">
			 <label class="btn btn-success active" onclick="changeForever(1)"><input
					checked type="radio" name="istaocan" value="true">是</label>
				<label class="btn btn-success" onclick="changeForever(0)"><input
					type="radio" name="istaocan" value="false">否</label>
			 </div>
			</div>
			<div class="form-group">
			 <label for="number" class="col-sm-2 control-label">商品售价</label>
			 <div class="col-sm-10">
			  <input type="number" class="form-control" id="shopprice"
					name="shopprice" size="16" 
					placeholder="请输入商品售价">
			 </div>
			</div>
	</form>
</div>
<div class="modal-footer">
	<button type="button" class="btn btn-default" data-dismiss="modal">
		关闭</button>
	<button type="button" class="btn btn-primary" onclick="submitForm('form')">提交</button>
</div>

<script>
$('.datetimepicker').datetimepicker({
    format: 'yyyy-mm-dd hh:ii:ss',
    autoclose: true,
    minView: 0,
    minuteStep:1
});
function getgoods(e) {
	var typeId = $(e).val();
	var option = "<option value='@goodsinfoId'>@goodsinfoName</option>";
	var select = $(e).parent().next().children(".goods");
	select.empty();
	select.append($("<option value=''>请选择</option>"));
	$.post("/shop/getGoods",{typeId:typeId},function(data){
		if(data) {
			for(var i in data) {
				var ele = option.replace("@goodsinfoId",data[i].shop_id).replace("@goodsinfoName",data[i].goodsinfo_name);
				select.append($(ele));
			}
		}
	})
}

function getPrePrice(e){
	var goodsid=$(e).val();
	$.post("/shop/getGoodsById",{goodsid:goodsid},function(data){
		$("#prePrice").value(data.goodsinfo_primary_price);
	})
}
</script>
