#@layout() 
#define main()

<div class="table-responsive">
	<table class="table table-striped">
		<thead>
		    <tr>
		        <th class="col-sm-1">唯一标识</th>
		        <th class="col-sm-1">商品批次</th>
		        <th class="col-sm-1">商品名称</th>
		        <th class="col-sm-1">上架数量</th>
		        <th class="col-sm-1">是否是套餐</th>
		        <th class="col-sm-1">是否在售</th>
		        <th class="col-sm-1">上架数量</th>
		        <th class="col-sm-1">售出价格</th>
		        <th class="col-sm-1">操作 <a href="javascript:void(0);" onclick="modalShow('/shop/add?id=null')" class="btn btn-warning btn-xs" role="button">上架</a></th>
		    </tr>
	    </thead>
	    <tbody>
	    #for(shoplist:list)
	    <tr id='#(list.shop_id)'>
	     <td>#(shoplist.shop_id)</td>
	     <td>#(shoplist.shop-lot)</td>
	     <td>#(shoplist.goodsinfo_name)</td>
	     <td>#(shoplist.shop_count)</td>
	     <td>#(shoplist.shop_istaocan)</td>
	     <td>#(shoplist.shop_on)</td>
	     <td>#(shoplist.shop_price)</td>
	    </tr>
	    #end
    	</tbody>
	</table>
</div>
#end