#@layout() 
#define main()

<div class="table-responsive">
	<table class="table table-striped">
		<thead>
		    <tr>
		        <th class="col-sm-1">商品批次</th>
		        <th class="col-sm-1">商品名称</th>
		        <th class="col-sm-1">上架数量</th>
		        <th class="col-sm-1">是否是套餐</th>
		        <th class="col-sm-1">是否在售</th>
		        <th class="col-sm-1">售出价格</th>
		        <th class="col-sm-1">操作 <a href="javascript:void(0);" onclick="modalShow('/shop/add?id=null')" class="btn btn-warning btn-xs" role="button">上架</a></th>
		    </tr>
	    </thead>
	    <tbody>
	    #for(shoplist:page.list)
	    <tr id='#(shoplist.shop_id)'>
	     <td>#(shoplist.shop_lot)</td>
	     <td>#(shoplist.goodsinfo_name)</td>
	     <td>#(shoplist.shop_count)</td>
	     <td>#(shoplist.shop_istaocan?'是':'否')</td>
	     <td>#(shoplist.shop_on?'启用':'未启用')</td>
	     <td>#(shoplist.shop_price)</td>
	     <td>
	       <a href="javascript:void(0);" onclick="modalShow('/shop/update?id=#(shoplist.shop_id)')"  class="btn btn-success btn-xs" role="button">编辑</a>
          <a href="javascript:void(0);" onclick="modalShow('/shop/delete?id=#(shoplist.shop_id)&&shopgoodsid=#(shoplist.shop_goods_id)')"  class="btn btn-danger btn-xs" role="button">删除</a>
	     </td>
	    </tr>
	    #end
    	</tbody>
	</table>
    #@paginate(page.pageNumber, page.totalPage, "/shop/")
</div>
#end