<div class="panel panel-info">
	<div class="panel-heading">
		<button type="button" class="close" onclick="closeFD()">></button>
		<h4 class="panel-title">
			#(title)
			</h3>
	</div>
	<div class="panel-body">
		<div class='well' style="height:200px; width:300px;font-size:12px;overflow-y:scroll" id="msg-list">
			#for(message : messageList)
			<p>#(message.messageSender == user.id ? '' : '我')&nbsp;&nbsp;
				<span style="color:green">#(message.messageSendTime)</span> &nbsp;:&nbsp; #(message.messageContent)
			</p> #end
		</div>
		<div class="row">
			<div class="col-sm-9" style="padding-right:0px">
				<textarea id="msgContent" style="width:100%"></textarea>
			</div>
			<div class="col-sm-3" style="padding-left:0px">
				<button class="btn btn-success btn-lg" onclick="sendMessage('#(user.id)')">发送</button>
			</div>
		</div>
	</div>
</div>

<script>
	$(function(){
		$('#msg-list').scrollTop( $('#msg-list')[0].scrollHeight);
	})

	function sendMessage(id) {
		var url = '/quickOperation/sendMessage';
		var msgContent = $("#msgContent").val();
		var receiver = id;
		$.post(url,{receiver:receiver,content:msgContent},function(data){
			if(data != null) {
				echo(ws,data.message_id);
				$("#msgContent").val('');
				var element = "<p>我&nbsp;&nbsp;<span style='color:green'>" + new Date().format("yyyy-MM-dd hh:mm:ss") + "</span> &nbsp;:&nbsp; "+data.message_content+"</p>";
				$("#msg-list").append($(element));
			}
		})
	}
</script>

