<div class="panel panel-info">
	<div class="panel-heading">
		<button type="button" class="close" onclick="closeFD()">></button>
		<h4 class="panel-title">
			#(title)
			</h3>
	</div>
	<div class="panel-body">
		<table class="table table-hover" id="msg-table">

		</table>
	</div>
</div>
<script>
	$("#msg-table")
			.bootstrapTable(
					{
						method : "post",
						url : "/quickOperation/getUndoList",
						columns : [
								{
									title : '待办事项',
									formatter:function(value,row,index) {
										var result = "<a href='" + row.nav_url + "'>" + row.nav_name + "</a>";
										return result;
									}
								},
								{
									title : '待办数量',
									field : 'number'
								}],
						searchAlign : 'left',
						pagination : true,
						search : true,
						pageSize:5,
						showRefresh : true
					});
</script>
