#@layout()
#define main()
<div class="table-responsive">
 <table class="table table-striped">
  <thead>
    <tr>
    <th class="col-sm-1">服务名称</th>
    <th class="col-sm-1">服务售价</th>
    <th class="col-sm-1">服务现价</th>
    <th class="col-sm-1">是否启用积分</th>
    <th class="col-sm-1">是否上架</th>
    <th class="col-sm-1">服务积分</th>
    <th class="col-sm-1">服务简短描述</th>
   <th class="col-sm-1">操作   <a href="javascript:void(0);" onclick="modalShow('/service/add')" class="btn btn-warning btn-xs" role="button">添加</a>
    </th>
    </tr>
  </thead>
  <tbody>
   #for(service:page.list)
   <tr id='#(service.service_id)'>
   <td>#(service.service_name)</td>
   <td>#(service.service_price)</td>
   <td>#(service.service_primary_price)</td>
   <td>#(service.service_points_flag ? '启用' : '不启用')</td>
   <td>#(service.service_ison?'在售':'未售')</td>
   <td>#(service.service_points)</td>
   <td>#(service.service_desc)</td>
   <td>
   <a href="/service/update?id=#(service.service_id)"  class="btn btn-success btn-xs" role="button">编辑</a>
   <a href="javascript:void(0);" onclick="remove('/service/delete?id=#(service.service_id)')"  class="btn btn-danger btn-xs" role="button">删除</a>
  </td>
  </tr>
  #end
  </tbody>
  	#@paginate(page.pageNumber, page.totalPage, "/service")
 </table>
</div>
#end