#@layout() #define main()
<div class="table-responsive">
	<table class="table table-striped">
		<thead>
			<tr>
				<th class="col-sm-1">名称</th>
				<th class="col-sm-1">服务价格</th>
				<th class="col-sm-1">操作 <a href="javascript:void(0);" onclick="modalShow('/service/add')" class="btn btn-warning btn-xs" role="button">添加</a></th>
			</tr>
		</thead>
		<tbody>
			#for(service : page.list)
			<tr id='#(service.service_id)'>
				<td>#(service.service_name)</td>
				<td>#(service.service_price)</td>
				<td>
				   <a href="javascript:void(0);" onclick="modalShow('/service/update?id=#(service.service_id)')"  class="btn btn-success btn-xs" role="button">编辑</a>
			        <a href="javascript:void(0);" onclick="modalShow('/service/delete?id=#(service.service_id)')"  class="btn btn-danger btn-xs" role="button">删除</a>
				</td>
			</tr>
			#end
		</tbody>
	</table>
</div>
#end
