#@layout() #define main()
<div class="container">
	<div class="row">
		<div class="col-sm-3">
			<h4>#(service[0].service_name)</h4>
			<img src="#(service[0].service_image)" class="img-responsive" />
		</div>
		<div class="col-sm-9">
			<div class="row">
				<br>
			</div>

			<form action="" method="post" class="form-horizontal"
				role="form" id="form">
				<div class="row">
					<div class="col-sm-6">
						<div class="form-group">
							<label for="name" class="col-sm-4 control-label">服务名称</label>
							<div class="col-sm-8">
								<input type="text" class="form-control" id="name"
									name="service.serviceName"
									value="#(service[0].service_name)">
							</div>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="form-group">
							<label for="sec_type_id" class="col-sm-4 control-label">服务类型</label>
							<div class="col-sm-8">
								<select class="form-control" id="type_list"
									name="service.secTypeId">
									<option name="service.secTypeId" value="">#(service[0].sec_type_name)</option>
								</select>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-6">
						<div class="form-group">
							<label class="col-sm-4 control-label">是否启用积分</label>
							<div class="btn-group col-sm-8" id="points" data-toggle="buttons">
								<label class="btn btn-success #(service[0].service_points_flag == true ? 'active':'')" onclick="changePointsFlag(1)">
								<input #(service[0].service_points_flag == true ? 'checked':'')
									type="radio" name="service.servicePointsFlag" value="1">启用积分</label>
								<label class="btn btn-success #(service[0].service_points_flag == false ? 'active':'')" onclick="changePointsFlag(0)">
								<input type="radio" #(service[0].service_points_flag == false ? 'checked':'')
									name="service.servicePointsFlag" value="0">不启用积分</label>
							</div>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="form-group #(service[0].service_points_flag == false ? 'hidden':'')" id="PointsFlag">
							<label class="col-sm-4 control-label">商品积分</label>
							<div class="col-sm-8">
								<input type="number" class="form-control" id="service_points"
									name="service.servicePoints" size="16" required
									value="service[0].service_points">
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-6">
						<div class="form-group">
							<label class="col-sm-4 control-label">商品价格</label>
							<div class="col-sm-8">
								<input type="number" class="form-control" value="#(service[0].service_primary_price)"
									id="service_primary_price" name="service.servicePrimaryPrice"
									size="16" required placeholder="请输入商品价格">
							</div>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="form-group">
							<label for="desc" class="col-sm-4 control-label">商品简短描述</label>
							<div class="col-sm-8">
								<input type="text" class="form-control" id="service_desc" value="#(service[0].service_desc)"
									name="service.serviceDesc" required placeholder="请输入简短描述">
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-6">
						<div class="form-group">
							<label class="col-sm-4 control-label">是否为永久商品</label>
							<div class="btn-group col-sm-8" id="isforever" data-toggle="buttons">
								<label class="btn btn-success 
								#(service[0].service_foever == true ? 'active' : '')"  onclick="changeForever(1)">
								<input #(service[0].service_foever == true ? 'checked' : '')
									type="radio" name="service.serviceFoever" value="1">是</label>
								<label class="btn btn-success 
								#(service[0].service_foever == false ? 'active' : '')"  onclick="changeForever(0)"><input
								#(service[0].service_foever == false ? 'checked' : '') type="radio"
									name="service.serviceFoever" value="0">否</label>
							</div>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="form-group #(service[0].service_foever == true ? 'hidden' : '')" id="forever">
							<label class="col-sm-4 control-label">有效日期</label>
							<div class="col-sm-8">
								<input name="service.entTime" size="16" type="text"
									value="#(service[0].end_time)" id="startTime" readonly>
							</div>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
	<div class="row">
		<div  class="col-sm-12">
			<h4>编辑详细描述</h4>
			<div id="editor">
		        #(service[0].service_descdetail)
		    </div>
		
		    <!-- 注意， 只需要引用 JS，无需引用任何 CSS ！！！-->
		    <script type="text/javascript">
		        var E = window.wangEditor
		        var editor = new E('#editor')
		        // 或者 var editor = new E( document.getElementById('editor') )
		        editor.create()
		    </script>
	    </div>
	</div>
	<br>
	<div class="row">
		<div class="col-sm-12">
			<div class="btn-group pull-right">
			    <a type="button" class="btn btn-default" href="/goods_info">返回</a>
			</div>
		</div>
	</div>
</div>
#end
